.streamer {
  background-color: white;
  margin-bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 40px #ac90d6;
}

.streamer:first-of-type {
  margin-top: 80px;
}

.streamer img {
  margin: 0;
  padding: 0;
  width: 50%;
}

.streamerData {
  padding: 32px;
  width: 100%;
}

.streamerData a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s ease;
  color: #772ce8;
}

.streamerData a:hover {
  color: #4b0caa;
}
